@{
    ViewData["title"] = "Register Car";
}

<h1>Register new car here</h1>

<div class="form">
   <div class="form-group row">
        <label class="col-4 form-group-label" for="year">Year:</label>
        <div class="col-8">
            <input type="text" class="form-control" placeholder="2019"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-4 form-group-label" for="make">Make:</label>
        <div class="col-8">
            <input type="text" class="form-control" placeholder="Dodge"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-4 form-group-label" for="model">Model:</label>
        <div class="col-8">
            <input type="text" class="form-control" placeholder="Charger"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-4 form-group-label" for="cyls">Cylinders:</label>
        <div class="col-8">
            <input type="text" class="form-control" placeholder="4"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-4 form-group-label" for="dailyPrice">Daily Price:</label>
        <div class="col-8">
            <input type="text" class="form-control" placeholder="24.99"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-4 form-group-label" for="imageUrl">Image Link:</label>
        <div class="col-8">
            <input type="text" class="form-control" placeholder=""/>
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="/css/register.css">
}