/* Tag Selectors*/

a {
    color: rgba(255, 0, 0, 0.89);
    background: rgb(6, 55, 71);
    display: block;
    width: 160px;
    padding: 10px;
}

ul li {
    display: inline-block;
}

li a {
    background: ghostwhite
}

li a:hover {
    background: rgb(8, 171, 221);
}

.supply li {display: block;
background: rgba(205, 92, 92, 0.473);
width: 150px;
color: rgb(16, 255, 8);}

.contacts li {display: block;
text-size-adjust: 400%;}

.alts li {display: block; 
    background: green;
width: 150px;}

body {
    background: url(download.jpg);
    /*background-color: #045533;*/
      color: #FFFFFF;
}

h1 {
    color: rgb(221, 243, 96);
    text-align: center;
    font: italic 400% fantasy;
    background: rgba(0, 0, 0, 0.603);
    border-radius: 25px;
}

p {
    background-color: rgba(11, 88, 99, 0.548);
    color: #3eff2c;
    text-align: center;
    border: 3px groove #FFFF33;
}

img {
    border: 3px solid black
}

blockquote {
    background-color: #FFFF33;
    color: #333300;
    text-align: left;
    border: 3px groove #FFFF33;
    text-indent: 70px;
}


/* class selector*/

.logo {
    width: 100px;
    border-radius: 15px;
    border: 2px solid white;
}

.logo2 {
    border-radius: 15px;
    border: 2px solid white;
    width: 200px;
}

.logo3 {
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.text {
    font-size: 15px;
    color: orange;
}

.square {
    border: 5px solid grey;
    padding: 1em;
    border-radius: 25px;
    color: #FFFF33;
    width: 50%;
    margin-left: 25%;
}

/* id selector */

#title1 {
    color: red;
}

#h1style {
    color: rgb(154, 233, 50);
}

#ice {
    width: 100px;
}