.site-header-about{
  font-size: 18px;
  background-color: rgba(6, 76, 94, 0.733);
  color: black;
  width: 100%;
  min-height: 60vh;
  border-radius: 20px;
  background-image: url(img/charger\ 2.jpg);
  background-size: cover;
  background-position: center center;

  
}

.bar {text-align: center;
  
  
 
}

.bar a{
font-size: 14px;
color: black;
background-color: beige;
padding: 2px;
width: 80px;
display: inline-flexbox;
border-radius: 10px;
text-decoration: none;
margin-right: 1rem;




}
.bar a:hover{
  background-color: lightblue;
}


body{
 font-size: 62.5%;

}
main{


}


.site-footer{

  font-size: 12px;
  color: white;
  text-align: center;
  padding-top: 5px;
  width: 100%;
  height: auto;
  border-radius: 20px;
  background: black;
   
}


.footer-img{

  width: 100px;
  border-radius: 20px;
  padding: 10px;
  
}

