.site-header-about{
  font-size: 18px;
  background-color: rgba(6, 76, 94, 0.733);
  color: black;
  width: 100%;
  min-height: 30vh;
  border-radius: 20px;
  background-image: url(img/charger\ 2.jpg);
  background-size: cover;
  background-position: center center;

  
}

.bar {text-align: center;

  
 
}

.bar a{
font-size: 14px;
color: black;
background-color: beige;
padding: 2px;
width: 80px;
display: inline-flexbox;
border-radius: 10px;
text-decoration: none;
margin-right: 1rem;




}
.bar a:hover{
  background-color: orangered;
}

.bar a:last-of-type
{
  margin: 0px;
}


body{
 font-size: 62.5%;

}
main{
background-color: lightgray;
border-radius: 20px;
padding: 1rem;
width: 80%;
margin-right: auto;
margin-left: auto;
}


.site-footer{

  font-size: 12px;
  color: white;
  text-align: center;
  padding-top: 5px;
  width: 100%;
  height: auto;
  border-radius: 20px;
  background: black;
   
}

.menu-logo
  {
    
    float: left;
  width: 50px;
 
   
  }


.footer-img{

  width: 100px;
  border-radius: 20px;
  padding: 10px;
  
}

.header-content{
  display: flex;
  height: 80%;
  justify-content: space-between;
  flex-direction: column;
}

.content{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

h1{

  font-size: 3rem;
  color: white;
}

h2{
  font-size: 1rem;
  color: white;
}
.center { margin: 0 auto; width: 400px; }

