.site-header{
  font-size: 18px;
  background-color: rgba(6, 76, 94, 0.733);
  color: black;
  width: 100%;
  height: auto;
  border-radius: 20px;
  
}


.site-header-about{
  font-size: 18px;
  background-color: rgba(6, 76, 94, 0.733);
  color: black;
  width: 100%;
  height: auto;
  border-radius: 20px;
  
}
body{
 

}
main{


}

.site-main{
  background-image: url(img/challenger\ 2.jpg);
  border-radius: 20px;
  background-position: center center;
 background-size: cover;
  background-attachment: fixed;
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  color: white;


}

.site-main-contact-us{
  background-image: url(img/challenger\ 2.jpg);
  border-radius: 20px;
  background-position: center center;
 background-size: cover;
  background-attachment: fixed;
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  color: white;
  padding: 20px;

}

.site-main-news{
padding: 20;
border-radius: 20px;
display: flexbox;
}


.site-footer{

  font-size: 12px;
  color: white;
  text-align: center;
  padding-top: 5px;
  width: 100%;
  height: auto;
  border-radius: 20px;
  background: black;
   
}

nav{text-align: center;
  
  
 
}

nav a{
font-size: 14px;
color: black;
background-color: beige;
padding: 2px;
width: 80px;
display: inline-flexbox;
border-radius: 10px;




}
nav a:hover{
  background-color: lightblue;
}

h1{
  size: 20px;
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 10px;
}

h2{
  padding: 8px;
}

.main-pic-img{

  width: 20%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 0px;
  padding: 5px;
}

.main-pic{
 display: flexbox;
 justify-content: center;
 }

.main-pic-text{

  margin-top: 0px;
  width: 400px;
  padding: 5px;
  font-size: 1.2rem;

}

.footer-img{

  width: 100px;
  border-radius: 20px;
  padding: 10px;
  
}

.cars{
display: flex;
padding: 5px;
justify-content: space-between;
margin: 10px;
background-image: url(img/challenger\ 2.jpg);
background-position: center center;
background-size: cover;
 background-attachment: fixed;
border-radius: 20px;
width: auto;

}

.square{
  flex-basis: calc(25%-10px);
  padding: 10px;

}

.news-img{
border-radius: 20px;
  width: 400px;
  align-items: center;
}
.news-img:hover{
  transform: scale(1.1);
  border-bottom: 5px solid yellow;
}

h3{
text-transform: uppercase;
font-size: 18px;
color: cyan;

}

h4{
font-size: 14px;
color: white;

}

h5{
background: yellow;
color: black;
font-size: 14px;
padding: 10px;
width: auto;


}
h5:hover{
  transform: scale(1.1);
}

.img-neon{
width: 500;
height: auto;

}

.contact-info{
  background: white;
  color: black;
  height: 80vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

table{
  padding: 5px;
}

input {
  width: 300px;
  padding: 1rem 12px;
  box-sizing: border-box;
}

input[type=text] {
  border: none;
  border-bottom: 4px solid blue;
}

input[type=email] {
  background-color: lightgreen;
  }

  input[type=tel]:focus {
    border: 10px solid #555;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  .center { margin: 0 auto; width: 400px; }