@{
    ViewData["Title"] = "Catalog";
}

<h2>Choose your car below!</h2>
<br>
<br>
<br>

<div id="catalog">



</div>

@* 
@section Styles{

} *@

@section Scripts {
<script src="/js/Catalog/catalog.js"></script>
}

@section Styles{
    <link rel="stylesheet" href="/css/catalog.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    
}