<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Get Stuff Done!</ion-list-header>
          <ion-searchbar animated showCancelButton="focus"></ion-searchbar>
          <div><br></div>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Family</ion-list-header>

          <!-- <ion-item  button routerDirection="root" [routerLink]="'[label.url]'" 
          routerDirection="forward"*ngFor="let label of labels; let l = index" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label.title }}</ion-label>
          </ion-item> -->

          <ion-menu-toggle auto-hide="false" *ngFor="let label of labels; let l = index">
            <ion-item (click)="selectedLabel = l" routerDirection="root" [routerLink]="[label.url]" lines="none" detail="false" [class.selected]="selectedLabel == l">
              <ion-icon slot="start" [ios]="label.icon + '-outline'" [md]="label.icon + '-sharp'"></ion-icon>
              <ion-label>{{ label.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>


        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
