/* myStyle.css */
body {
  background: url(download.jpg);
  /*background-color: #045533;*/
  color: #FFFFFF;
 }
 h1 {
  color: rgb(221, 243, 96);
  text-align: center;
  font: italic 400% fantasy;
 }
 p {
  background-color: #FFFF33;
  color: #333300;
  text-align: center;
  border: 3px groove #FFFF33;
 }
 img {border: 3px solid black}

 blockquote {
  background-color: #FFFF33;
  color: #333300;
  text-align: center;
  border: 3px groove #FFFF33;

 }
 /* class selector*/
 .logo {
   width: 100px;
   border-radius: 15px;
   border: 2px solid white;

 }

 .logo2 {
  width: 250px;
  border-radius: 15px;
  border: 2px solid white;
  
}
.text {
font-size: 15px;
color: orange;

}