/* myStyle.css */
body {
  background: url(download.jpg);
  /*background-color: #045533;*/
  color: #FFFFFF;
 }
 h1 {
  color: rgb(221, 243, 96);
  text-align: left;
  font: italic 400% fantasy;
 }
 p {
  background-color: #FFFF33;
  color: #333300;
  text-align: left;
  border: 3px groove #FFFF33;
 }
 img {border: 3px solid black}

 blockquote {
  background-color: #FFFF33;
  color: #333300;
  text-align: center;
  border: 3px groove #FFFF33;

 }