img {
    width: 300px;
    border-radius: 5px;
}

.item .code {
    display: inline-block;
  text-align: center;
}
.item .code,
.item .category {
    display: inline-block;
    width: 15%;
   
}

.item .price {
    color: green;
    display: inline-block;
    width: 15%;
}

.item .deliveryDays {
    color: red;
    display: inline-block;
    width: 15%;
}

.item .stock {
    color: rgb(0, 255, 170);
    display: inline-block;
    width: 15%;
}

.item .description {
    display: block;    
    margin-bottom: 10px;
}

.item button {
    float: right;
    border-radius: 25px;
    margin-right: 5px;
}

.item:hover {
    background-color: rgba(47, 224, 255, 0.445);
    box-shadow: -2px 2px 2px rgb(133, 130, 130);
}
.item {
    
    
    height: 450px;
    border: 1px dashed white;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
}

body{
    background-color: black;
    color: white;
}

 

.selected{
    border: 1px solid red;
}


.modal-body {
    background-color: black;
    width: 100%;
    height: auto;
}