<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">Register Users</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="Admin.html"
          >Admin <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="Catalog.html">Catalog</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="Contact.html">Send a Message</a>
      </li>
    </ul>
  </div>
</nav>

<h1>Hello from Angular!</h1>
<h3>{{ name }}</h3>

<!-- <h2>{{userName}}</h2>
<h3>{{ name }} - {{ title }}</h3> -->
<!--  -->
<!-- <div>{{ name }}</div>

<hr />

<button (click)="test()">
  Click me please!
</button> -->

<!-- <div>
<input type="text" [(ngModel)]="userName">
<button (click)="calculate()">Calculate</button>

<button (click)="clearForm()">Clear form</button>


</div> -->

<router-outlet></router-outlet>
<div>
  This is the footer.
</div>
