h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(124, 119, 119);
}

label{
    color: white;
}

#listButton {
    float: right;
}

#listButton:hover {
    background-color: yellow;
}

#btnSave:hover {
    background-color: rgb(92, 236, 104);
}

div {
    padding: 10px;
    background-color: rgb(141, 141, 135)
    width: 400;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 30px;
    margin-top: 20px;
  
}

ul {
    padding: 10px 15px;
    border: 1px solid rgb(155, 141, 141);
    border-radius: 10px;
}
body{
    background-color: rgb(0, 0, 0);
}

li {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input{
    border-radius: 10px;
}

#pendingList {
    border-radius: 10px;
}
.col {
    border-radius: 10px;
    background-color: rgb(81, 88, 54);
}

.wordwrap { 
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
 }
 /*https://stackoverflow.com/questions/1638223/is-there-a-way-to-word-wrap-long-words-in-a-div*/