ion-card:hover {
    background-color: rgba(51, 94, 95, 0.329);
  }
  
  ion-slide:hover {
    background-color: rgba(255, 248, 220, 0.329);
  }
  
  ion-slide{
    width: 25%;
    display: inline-block;
    border-color: cornflowerblue;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
  }
  
  ion-card{
    border-radius: 15px;
    border-width: thick;
    border-color: blanchedalmond;
    height: 200px;
  }