.item {
    display: inline-flexbox;
    width: 350px;
    height: 400px;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5x;
}

img {
    width: 150px;
}

.item .code,
.item .category {
    display: inline-block;
    width: 48%;
}

.item .price {
    color: green;
    display: inline-block;
    width: 48%;
}

.item .deliveryDays {
    color: red;
    display: inline-block;
    width: 48%;
}

.item .stock {
    color: rgb(0, 255, 170);
    display: inline-block;
    width: 48%;
}

.item .description {
    display: block;
}

.item button {
    float: right;
    border-radius: 25px;
    margin-right: 5px;
}

.item:hover {
    background-color: rgba(47, 224, 255, 0.445);
    box-shadow: -2px 2px 2px rgb(133, 130, 130);
}