<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Register Users</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="Admin.html">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="Catalog.html">User Registration</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="Contact.html">Temp Converter</a>
        </li>
      </ul>
    </div>
  </nav>