/* Tag Selectors*/

a {
    color: rgba(255, 0, 0, 0.89);
    background: rgb(6, 55, 71);
    display: block;
    width: 160px;
    padding: 10px;
}

ul li {
    display: inline-block;
}

li a {
    background: ghostwhite
}

li a:hover {
    background: rgb(8, 171, 221);
}

ol li {
    display: block;
    background: grey;
    width: 30%;
}

.test li {
    font-size: 18px;
}

.test li:hover {
    background: lightseagreen;
}

.supply li:hover {
    background: lightseagreen;
}

.supply li {
    background: grey;
    width: 25%;
    display: block;
    list-style-image: url('coffeebean.png')
}

body {
    background: url(download.jpg);
    /*background-color: #045533;*/
    background-repeat: repeat;
    color: #FFFFFF;
}

h1 {
    color: rgb(221, 243, 96);
    text-align: center;
    font: italic 400% fantasy;
    background: black
}

p {
    background-color: rgba(11, 88, 99, 0.548);
    color: #3eff2c;
    text-align: center;
    border: 3px groove #FFFF33;
}

img {
    border: 3px solid black
}

blockquote {
    background-color: #FFFF33;
    color: #333300;
    text-align: left;
    border: 3px groove #FFFF33;
    text-indent: 70px;
}


/* class selector*/

.logo {
    width: 100px;
    border-radius: 15px;
    border: 2px solid white;
}

.logo2 {
    border-radius: 15px;
    border: 2px solid white;
    width: 200px;
}

.logo3 {
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.text {
    font-size: 15px;
    color: orange;
}


/* id selector */

#title1 {
    color: red;
}

#h1style {
    color: rgb(154, 233, 50);
}

#ice {
    width: 100px;
}