@{
    ViewData["Title"] = "Catalog";
}

<h1>Display Catalog Here</h1>

<div id="catalog">



</div>

@* 
@section Styles{

} *@

@section Scripts {
<script src="/js/Catalog/catalog.js"></script>
}

@section Styles{
    <link rel="stylesheet" href="/css/catalog.css">
}