<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      SDGKU
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SDGKU</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <!-- <h1>Hello Ionic!</h1>
  <button>this is an html button</button>
  <ion-button color="secondary"></ion-button> -->

  <ion-item>
    <ion-label>My Feed</ion-label>
  </ion-item>
  <!-- <ul>
    <li *ngFor="let message of allMessages" >{{message.from}}:{{message.to}}:{{message.createdDate}}:{{message.text}}</li>
   </ul> -->

   <ion-card *ngFor="let message of allMessages" [class.my-message]="message.from == shared.userName">
    <ion-card-content class="imgBorder" *ngIf="message.imageUrl">
      <img src="{{message.imageUrl}}">
    </ion-card-content>
    <hr>
<ion-card-header>
  <ion-card-title>
    {{message.from}}
  </ion-card-title>
  <ion-card-subtitle>
    To:  {{message.to}}
  </ion-card-subtitle>
 </ion-card-header>

<ion-card-content>
  {{message.text}}
</ion-card-content>
     </ion-card>


</ion-content>
