@{
    ViewData["Title"] = "Catalog";
    }

    <h1>Display Catalog Here</h1>

    <div id="catalog">


    </div>

    @section Scripts{
        <script src="/js/catalog/catalog.js"></script>
    }

    @section Styles {
        <link rel="stylesheet" href="/css/catalog.css">
    }