table{
  border:1px solid black;
  width: 50%;
}

td{
  border-bottom: 1px solid grey;
  width: auto;
  text-align: center;
  padding: 5px;
}

.one tr:hover {
  background: lightseagreen;
}

img{
  width: 100px;
}

.two img{
  width: 200px;
  border: 5px solid black;
  border-radius: 15px;
}