.btn {
    float: right;
}

.form-group {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    
}

.form-group {
    text-align: left;
}

.form-control {
    text-align: right;
}
body {
    background-color: rgb(0, 0, 0);
    color: white;
}
.hidden {
    display: none;
}
