<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >[108] ERP Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/user/register']" routerLinkActive="router-link-active" >User Registration</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" [routerLink]="['/user/list']" routerLinkActive="router-link-active" >User List</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >User Login</a>
          </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/converter']" routerLinkActive="router-link-active" >Temp Converter</a>
        </li>
      </ul>
    </div>
  </nav>