@{
    ViewData["title"] = "About Us";
}

@* <h4>Welcome to Lococo's Rentals!</h4>

<h5>We are a fast and convenient way to research and find a vehicle that is right for you. If you are looking to rent an Acura, Audi, BMW, Buick, Cadillac, Chevrolet, Chrysler, Dodge, FIAT, Ford, GMC, Honda, Jeep, Kia, Lexus, Lincoln, Mercedes-Benz, Nissan, Ram, Toyota, Scion or Volkswagen car, truck, or SUV you will find it here. We have helped many customers from Las Vegas, Henderson, The Lakes, Boulder City, Sloan, Blue Diamond, Dolan Springs, Temple Bar Marina, Meadview, Willowbeach, Indian Springs, Jean, Logandale, Moapa, Coyote Springs, Overton, Searchlight and Nellis AFB find the Acura, Audi, BMW, Buick, Cadillac, Chevrolet, Chrysler, Dodge, FIAT, Ford, GMC, Honda, Jeep, Kia, Lexus, Lincoln, Mercedes-Benz, Nissan, Ram, Toyota, Scion or Volkswagen of their dreams!</h5>
<br>
<br>
<h6>Please contact us at 702-867-5309 or click below to email us!
<br>
<br>



</h6> *@


<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">Welcome to Lococo's Rentals!</h1>
        <p class="lead text-muted mb-0">We are a fast and convenient way to research and find a vehicle that is right for you. If you are looking to rent an Acura, Audi, BMW, Buick, Cadillac, Chevrolet, Chrysler, Dodge, FIAT, Ford, GMC, Honda, Jeep, Kia, Lexus, Lincoln, Mercedes-Benz, Nissan, Ram, Toyota, Scion or Volkswagen car, truck, or SUV you will find it here. </p>
            <br>
            <p class="lead text-muted mb-0">We have helped many customers from Las Vegas, Henderson, The Lakes, Boulder City, Sloan, Blue Diamond, Dolan Springs, Temple Bar Marina, Meadview, Willowbeach, Indian Springs, Jean, Logandale, Moapa, Coyote Springs, Overton, Searchlight and Nellis AFB find the Acura, Audi, BMW, Buick, Cadillac, Chevrolet, Chrysler, Dodge, FIAT, Ford, GMC, Honda, Jeep, Kia, Lexus, Lincoln, Mercedes-Benz, Nissan, Ram, Toyota, Scion or Volkswagen of their dreams!</p>
        <br>
        <br>
        <p class="lead text-muted"><a href="mailto:test@test.com" class="text-muted"> 
                    <u>Please contact us at 702-867-5309 or click here to email us!</u></a>
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://passmember.org/wp-content/uploads/2019/07/Car-Parking.jpg" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>


@* from https://bootstrapious.com/p/about-us-page *@






@section Styles {
  
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
}