@{
    ViewData["title"] = "About Us";
}

<h4>Welcome to Lococo's Rentals!</h4>

<h5>We are a fast and convenient way to research and find a vehicle that is right for you. If you are looking to rent an Acura, Audi, BMW, Buick, Cadillac, Chevrolet, Chrysler, Dodge, FIAT, Ford, GMC, Honda, Jeep, Kia, Lexus, Lincoln, Mercedes-Benz, Nissan, Ram, Toyota, Scion or Volkswagen car, truck, or SUV you will find it here. We have helped many customers from Las Vegas, Henderson, The Lakes, Boulder City, Sloan, Blue Diamond, Dolan Springs, Temple Bar Marina, Meadview, Willowbeach, Indian Springs, Jean, Logandale, Moapa, Coyote Springs, Overton, Searchlight and Nellis AFB find the Acura, Audi, BMW, Buick, Cadillac, Chevrolet, Chrysler, Dodge, FIAT, Ford, GMC, Honda, Jeep, Kia, Lexus, Lincoln, Mercedes-Benz, Nissan, Ram, Toyota, Scion or Volkswagen of their dreams!</h5>
<br>
<br>
<h6>Please contact us at 702-867-5309 or click below to email us!
<br>
<br>

<a href="mailto:test@test.com">Email Us!</a>

</h6>