@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Lococo's Rental</h1>
    <p> Please visit the catalog to check out the vehicles we have available.!</p>
</div>


@section Styles{
    <link rel="stylesheet" href="/css/catalog.css">
}