<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      Post
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container> -->

  <ion-card>
    <!-- <ion-card-header>
      I am Ionic
    </ion-card-header> -->
    <ion-card-content>
      <ion-item>
        <ion-label position="Stacked">
          Write a Post: 
        </ion-label>
        <ion-input [(ngModel)]="post.text"> </ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="Stacked">
          Add an Image URL:  
        </ion-label>
        <ion-input [(ngModel)]="post.imageUrl"> </ion-input>
      </ion-item>



      <ion-item>
        <ion-label position="Stacked">To:</ion-label>
        <ion-select [(ngModel)]="post.to">
      <ion-list>
        <ion-select-option value="Everyone">Everyone</ion-select-option>
       <ion-select-option *ngFor="let friend of myFriends" [value]="friend.name">{{friend.name}}</ion-select-option>
       </ion-list>
        </ion-select>

      </ion-item>
      <ion-button (click)="sendMessage()" expand="block" color="primary">
        Submit Post
      </ion-button >
    </ion-card-content>
  </ion-card>
</ion-content>
