.container {
    width: 80%;
    margin:auto;
}
h1 {
    color: white;
    text-align: center;
}

header{
    background: rgb(201, 56, 20);
    height: 30vh;
}
.input-text {
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.form-section{
    text-align: center;
}

.btn {
    display: block;
    text-align: right;
    float: right;
